
<div id="container" class="container">	

	<!-- All of the content in the menu panel -->
	<div class="menu-panel">
		<h3>Ryan Yu</h3>
		<ul id="menu-toc" class="menu-toc">
			<li class="menu-toc-current"><a href="#item1">Introduction</a></li>
			<li><a href="#item2">About</a></li>
			<li><a href="#item3">Projects</a></li>
			<li><a href="#item4">Music</a></li>
			<li><a href="#item5">Contact</a></li>
		</ul>
	</div>

	<div class="bb-custom-wrapper">
		<div id="bb-bookblock" class="bb-bookblock">

			<!-- Item 1 -->
			<div class="bb-item" id="item1">
				<div class="content">
					<div class="scroller">
						<h2>Introduction</h2>
						<p>Welcome to the home of Ryan Yu on the web!</p>

						<p>You can find me in many other locations on the internet, including but not limited to:<br /> 
							<em>
								<a href="http://www.linkedin.com/pub/ryan-yu/45/1/220" target="_blank">LinkedIn</a>
								and
								<a href="https://www.facebook.com/ryan.cao.yu" target="_blank">Facebook.</a>
							</em>

						</p>
						<p>

							Feel free to connect with me on any of the networks listed above. You can also email me at: <a href="mailto:ryan.cao.you@gmail.com">ryan.cao.you@gmail.com</a> (primary) or <a href="mailto:ryan.yu@berkeley.edu">ryan.yu@berkeley.edu.</a> Alternatively, you can just use the contact form <a href="#item5">here</a>, which will send emails directly to <a href="malito:ryan.cao.you@gmail.com">ryan.cao.you@gmail.com.</a>
						</p>

						<p>
							The rest of the site has more <a href="#item2">about</a> me, information about various <a href="#item3">projects</a> I have worked on, and details about my great interest in live <a href="#item4">music</a>.
						</p>

					</div>
				</div>
			</div>

			<!-- Item 2 -->
			<div class="bb-item" id="item2">
				<div class="content">
					<div class="scroller">
						<h2>About</h2>
						<p>
							I grew up in San Mateo, CA, about a half hour from downtown San Francisco. I then migrated across the bay for college, where I chose to attend the University of California, Berkeley. I am currently a third-year undergraduate, pursuing a double major in Computer Science and Mathematics.
						</p>

						<p>
							On campus, I am actively involved with the variety of organizations, including 
							<a href="https://www.akpsi.org/">Alpha Kappa Psi</a>, a professional co-ed business fraternity, and the 
							<a href="http://rcsa.berkeley.edu/">Regents' and Chancellor's Scholarship Assocation</a>. During some off time after my fifth semester at Berkeley, I rebuilt the website for Berkeley's chapter of Alpha Kappa Psi, which can now be actively found <a href="http://calakpsi.com">here</a>. You can read more about this in the
							<a href="#item3">projects</a> section of the website. I also acted as Alumni Committee director of the Regents' and Chancellor's Scholarship Association for two years.
						</p>
						<br /><br />
						<h2>Professional Experience</h2>
						<p>
							I will be returning to Amazon.com in the Palo Alto, CA office for the summer of 2014, working on the Amazon Silk team.
						</p>

						<p>
							During the summer of 2013, after my sophomore year, I interned for <a href="http://amazon.com">Amazon.com</a> in Seattle, WA. During my internship, I designed and implemented an application that optimized shipment of packages from "hub" warehouses to other Amazon-owned warehouses around the world. This application now runs actively in production.
						</p>

						<p>
							During the winter of 2012, I completed an externship with <a href="http://www.meridiancomputing.com/Home.html">Meridian Computing</a>, where I assisted in the mockup of various iPhone applications that were being developed.
						</p>

					</div>
				</div>
			</div>

			<!-- Item 3 -->
			<div class="bb-item" id="item3">
				<div class="content">
					<div class="scroller">
						<h2>Projects</h2>
						<p>
							<b>Amazon 2013 Internship Project:</b> During the summer of 2013, I designed and implemented an application called "OFPDragons" (Demand Rebind And Greedy OptimizatioN Service) that optimized the shipment of items to/from warehouses. This project was written primarily with Java, and used the <a href="http://spring.io/">Spring MVC Framework.</a>
						</p>

						<br />

						<p>
							<b>Alpha Kappa Psi Website:</b> In December 2013 and January 2014, I designed and implemented my professional business fraternity's website from the ground up using Ruby on Rails. The website can currently be found <a href="http://calakpsi.com">here.</a>
						</p>

						<br />

						<p>
							<b>School Projects:</b> I have developed a wide variety of projects for class, including but not limited to: [Self-playing Pacman with AI/Machine Learning (Python)], [Matrix Multiplication with Concurrency (C)], [Basic Image Editing Application (Java)], [Basic Scheme Interpreter (Python)], ["Scramble with Friends" Solver (Java)], [Twitter Trends Application (Python)].
						</p>

						<br />

						<p>
							If you are interested in collaborating with me for a project, please contact me at <a href="#item5">this page.</a>
						</p>

						<p>
							<i>Languages: </i> Python, Java, C, LaTeX, HTML, CSS, SQL, Ruby on Rails
						</p>

					</div>
				</div>
			</div>

			<!-- Item 4 -->
			<div class="bb-item" id="item4">
				<div class="content">
					<div class="scroller">
						<h2>Music</h2>
						<p>
							<b>Live Music:</b> I have a great interest in live music, and have attended close to two hundred shows since 2008. In particular, I am a big fan of <a href="http://phish.net">Phish</a> and <a href="http://umphreys.com">Umphrey's McGee</a>. Outside of the jam-band scene, I enjoy progressive rock, and artists such as <a href="http://stevenwilsonhq.com/">Steven Wilson</a> and <a href="http://mymorningjacket.com">My Morning Jacket</a>. My musical interests fall outside of these realms as well, and stretch from Swedish death metal (<a href="http://opeth.com">Opeth</a>) to folk rock (<a href="http://fleetfoxes.com">Fleet Foxes</a>). Visit my <a href="https://www.facebook.com/ryan.cao.yu" target="_blank">Facebook</a> for a more populated list of artists that I am interested in.
						</p>

						<br />

						<p>
							<b>Audiophilism:</b> I have been an aspiring headphone audiophile since about 2009, and have been slowly building my setup since then. Currently, my setup consists of: <a href="http://en-us.sennheiser.com/dynamic-headphones-high-end-around-ear-hd-800" target="_blank">Sennheiser HD800</a> (Headphones) -- <a href="http://www.doublehelixcables.com/store/" target="_blank">6" Double Helix</a> (Headphone Cable) -- <a href="http://www.head-fi.org/products/darkvoice-332" target="_blank">Darkvoice 332</a> (Amplifier) -- <a href="http://www.enjoythemusic.com/magazine/equipment/0808/keces_da151.htm" target="_blank">Keces KA-151</a> (Digital to Analog Converter) -- FLAC via <a href="http://www.foobar2000.org/" target="_blank">Foobar2000</a>. I hope to upgrade to a <a href="http://www.amb.org/audio/beta22/" target="_blank">β22 Amplifier</a> in the near future.
						</p>

					</div>
				</div>
			</div>

			<!-- Item 5 -->
			<div class="bb-item" id="item5">
				<div class="content">
					<div class="scroller">
						<h2>Contact</h2>
						
						You may contact me at <a href="mailto:ryan.cao.you@gmail.com">ryan.cao.you@gmail.com</a>.
					</div>
				</div>
			</div>
		</div>
		
		<nav>
			<span id="bb-nav-prev">&larr;</span>
			<span id="bb-nav-next">&rarr;</span>
		</nav>

		<span id="tblcontents" class="menu-button">Ryan Yu</span>

	</div>
		
</div><!-- /container -->



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="assets/jquery.mousewheel.js"></script>
<script src="assets/jquery.jscrollpane.min.js"></script>
<script src="assets/jquerypp.custom.js"></script>
<script src="assets/jquery.bookblock.js"></script>
<script src="assets/page.js"></script>
<script>
	$(function() {

		Page.init();

	});
</script>